.check {
    display: flex;
    flex-direction: column;
    border: solid;
    width: 28vw;
    font-size: 3vh;
    color: #5e514b;
    border-radius: 30px;    /* background-color: brown; */
    /* height: 2vh;
    width: 2vh; */
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.img-container {
    height: 6rem;
    width: 6rem;
   
}

.description {
    font-size: 3vh;
}

.text-details {
    display: flex;
    flex-direction: column;
}

.image-div {
    display: flex;
    justify-content: center;
}